1. 환경 설정 및 데이터 로드 (Environment Setup & Data Loading)

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# 모델
try:
    from lightgbm import LGBMClassifier
    HAS_LGBM = True
except Exception:
    HAS_LGBM = False
    from sklearn.ensemble import RandomForestClassifier


#  데이터 로드

train_df = pd.read_csv('../data/titanic/train.csv')
test_df  = pd.read_csv('../data/titanic/test.csv')

combine = [train_df, test_df]

print("데이터 로드 완료!")
print(train_df.shape, test_df.shape)
train_df.head()

데이터 로드 완료!
(891, 12) (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. 데이터 탐색 (EDA)

In [2]:
train.info()
print("\nTarget ratio:\n", train["Survived"].value_counts(normalize=True))

# 결측치 확인
na = train.isna().mean().sort_values(ascending=False)
display(na[na > 0].head(15))

# 기본 통계
train.describe(include="all").transpose().head(20)

NameError: name 'train' is not defined